/* body {
  background-color: #111111;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#matter {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#matter > canvas {
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
}
 */

body {
  background-color: #111111;
/*   background-size: 100% auto;
  background-repeat:no-repeat; */
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.matter {
  background-color: #222;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#matter > canvas {
  background-color: #000000;
  display: block;
  margin: 0 auto;
}