body {
  background-color: #111111;
  overflow: hidden;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

.matter {
  background-color: #222;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#matter > canvas {
  background-color: #000000;
  display: block;
  margin: 0 auto;
}